body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0px;
    margin:0;
    background-color:#f4f4f4;
  }

  @media only screen and (max-width: 767.98px){
    body{
      font: 20px/1.5 Arial, Helvetica,sans-serif;
      padding: 0px;
      margin:0;
      background-color:#f4f4f4;
    }


  }
  

  h1 {
    font-size: 32px;
    font-family: Arial;
  }
  
  /* Global */
  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
    padding-bottom: 30px;
  }
  
  ul{
    margin:0;
    padding:0;
  }

  /* Header **/
header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
  }

  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }

  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }

  @media only screen and (max-width: 767.98px){
    header li{
      float:left;
      display:inline;
      padding-left: 30px;
    }
    
    header nav{
      float:left;
      margin-top:10px;
    }


  }

 
  #display-pic {
    border-color: #35424a;
    border-style: solid;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    float: left;
  }

 #about-me-pars {
   position: relative;
   left: 15px;
 }

 #about-me-pars p {
   width: 99%;
}

@media only screen and (max-width: 767.98px){
  #display-pic {
    border-color: #35424a;
    border-style: solid;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    position: relative;
    left: 40px;
  }
 
  #main-par {
    display: flex;
    flex-direction: column;
  }

  #about-me-pars p {
    width: 90%;
 }
 
}

  .project-instance {
    color:#ffffff;
    background-color: #35424a;
    border-color: #35424a;
    border-style: solid;
    height: 100%;
    width: 25%;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 767.98px){
    .project-instance {
      color:#ffffff;
      background-color: #35424a;
      border-color: #35424a;
      border-style: solid;
      height: 100%;
      width: 50%;
      padding: 20px;
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}

 
  .project-pic {
    height: 150px;
    width: 150px;
  }

  #projects-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
  }

  #projects-list a {
    color:#ffffff;
    text-decoration:underline;
  }

  #projects-list a:hover{
    color:#cccccc;
    font-weight:bold;
  }

  #contact-info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 767.98px){
    #contact-info-list {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      margin: auto;
  
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }

    #contact-info-list img {
      width: 100%;
    }

    #contact-info-list li {
      padding: 30px;
    }
}


 #email-pic{
    height: 150px;
    width: 150px;
  }